@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}
